<!DOCTYPE html>
<html lang="en">
<head>
    <title>Nutrition Analysis</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/styles/main.css">
</head>
<body>
<%- include('../partials/header', { req: req }) %>
<div class="container mt-5">
    <h2><%= t('nutritionMain') %></h2>
    <form id="nutritionForm" action="/nutrition" method="POST">
        <div class="mb-3">
            <label for="query" class="form-label"><%= t('enterFood') %></label>
            <input type="text" class="form-control" id="query" name="query" required>
        </div>
        <button type="submit" class="btn btn-primary"><%= t('analyze') %></button>
    </form>
    <% if (nutritionData) { %>
        <div class="result alert alert-info" role="alert">
            <p><%= nutritionData.name %> in <%=nutritionData.serving_size_g%>g</p>
            <p><%= t('calories') %>: <%= nutritionData.calories %></p>
            <p><%= t('protein') %>: <%= nutritionData.protein_g %>g</p>
            <p><%= t('fat') %>: <%= nutritionData.fat_total_g %>g</p>
            <p><%= t('carbohydrates') %>: <%= nutritionData.carbohydrates_total_g %>g</p>
            <p><%= t('sugar') %>: <%= nutritionData.sugar_g%>g</p>
        </div>
    <% } else { %>
        <p><%= t('noNutrition') %></p>
    <% } %>

</div>
</body>
</html>
